.gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
}

.gallery-container img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.gallery-container img:hover {
    transform: scale(1.05);
}
.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

/* Estilos para las imágenes */
.image-container img {
    width: 300px; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    transition: transform 0.3s ease-in-out; /* Efecto de transformación suave */
}

/* Efecto hover para ampliar la imagen */
.image-container img:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen en hover */
}
